# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Eliza Brock Marcum's Personal Website
description: > # this means to ignore newlines until "baseurl:"
  The personal website of Eliza Brock Marcum, Nashville-based Software Engineer,
  and Educator.
baseurl: "" # the subpath of your site, e.g. /blog
# TODO: Update to elizamarcum.com
url: "http://elizabrock.com" # the base hostname & protocol for your site, e.g. http://example.com
email: eliza@elizamarcum.com
author:
  twitter: elizabrock
  picture: /images/2018headshot.png
twitter:
  username: elizabrock
  card: summary
github_username:  elizabrock
social:
  name: Eliza Marcum
  links:
    - https://keybase.io/elizamarcum
    - https://www.linkedin.com/in/elizabrock/
    - https://twitter.com/elizabrock
    - https://github.com/elizabrock

# Build settings
markdown: kramdown
# theme: minima
plugins:
#   - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jemoji

collections:
  case_studies:
    output: true

defaults:
  - scope:
      path: ""
      type: "case_studies"
    values:
      layout: "case_study"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
