<footer id="site-footer">
  <div class="full-column">
    <h3>For Good Quotes, Free Advice and Excellent Conversation:</h3>
    <nav id="footer-navigation">
      <ul>
        <li>
          <div id="call" class="reveal-modal">
            <p>On second thought, I hate phone calls.</p>
            <p>However, you can leave me a voicemail at my business number: (858) 205-9285</p>
          </div>
          <a href="#" data-reveal-id="call">call</a>
        </li>
        <li>
          <div id="email" class="reveal-modal">
            <p>
              Email:
              <br />
              <a href="mailto:eliza@elizamarcum.com">eliza@elizamarcum.com</a>
            </p>
          </div>
          <a href="#" data-reveal-id="email">email</a>
        </li>
        <li>
          <div id="skype" class="reveal-modal">
            <p>
              Skype:
              <br />
              elizabrock
            </p>
          </div>
          <a href="#" data-reveal-id="skype">skype</a>
        </li>
        <li>
          or
          <a href="http://twitter.com/#!/elizabrock" target: "_blank">tweet</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
