<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 39px;
    height: 60px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1405471169">
  </div>
</div>
<script src="https://www.goodreads.com/review/grid_widget/3483710.Eliza's%20bookshelf:%20read?cover_size=small&hide_link=&hide_title=&num_books=100&order=a&shelf=read&sort=date_added&widget_id=1405471169" type="text/javascript" charset="utf-8"></script>
