/**
 * Layout, Specific to elizamarcum.com:
 */

$logo-height: 5rem;
body > header {
  @extend .container;
  max-width: $small;
  padding-top: 3rem;
  nav {
    #logo {
      height: $logo-height;
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: left;
      padding-left: 0;
      align-items: center;
      li {
        display: inline-block;
        padding-right: 1rem;
        a {
        }
      }
    }
  }
}

body > footer {
  @extend .container;
  max-width: $small;
  margin-bottom: 1em;
  text-align: center;
  nav ul li {
    display: inline-block;
  }
  a {
    color: #491918;
    text-decoration: underline;
  }
}

body > main > section, body > main > h1 {
  @extend %flex-row;
  & > h2, & > div, & > nav {
    @extend %flex-cell;
  }
}

@include small-breakpoint {
  body > main > section > div {
    @include flex-breakpoints;
  }
}
@include large-breakpoint {
  body > main > section > div {
    @include flex-breakpoints;
  }
}

body > main > section {
  padding: $base-font-size;

  & + section.low-key {
    padding-top: 0;
  }

  & > h2:first-child {
    margin-top: 0;
  }

  & > *:last-child, p:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
  ul {
    list-style-type: disc;
    &.two-up {
      list-style-type: none;
      li {
        width: 48%;
        display: inline-block;
      }
    }
  }
  ol {
    margin-left: 1em;
    list-style-type: decimal;
  }
}

body > main > section:not(.low-key) {
  // TODO: Find out if this is relevant in 2020
  // Set a non-alpha background color to soothe IE
  background-color: $pale;
  background: $background url('/images/bg-gradient-large-lightest.png') repeat-x top center;
  border: 1px solid $border-color;
  border-top: $bold-border;
  box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
  margin-top: -1 * $margins; // Snug it up against the heading
  margin-bottom: $margins;
  // TODO: Remove this:
  //& + section {
  //  margin-top: 1em;
  //}
}


// Assorted

figure {
  &.to-right {
    max-width: 50%;
    float: right;
  }
}

ul {
  margin-left: -1rem;
}

// Home

section#homepage-hero {
  .verbiage {
  }
  .headshot {
    img {
      max-width: 100%;
      //border: 1px solid $border-color;
      //border-bottom: $bold-border;
      //box-shadow: rgba(0,0,0,0.3) 0 1px 5px;
    }
  }
}

@include medium-breakpoint {
  section#homepage-hero {
    & > * {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    .verbiage {
      align-self: flex-end;
    }
    .headshot {
      align-self: stretch;
      display: flex;
      img {
        margin-top: auto;
      }
    }
  }
}

// About

ul#skill_set {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    position: relative;
    padding: 0.20833em 0.5em 0.25em;
    margin-bottom: 0.15em;
    background-color: $mediumred;
    color: white;
    border-radius: 3px;
  }
}

// Portfolio

ul.clients {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @extend %flex-row;
  li {
    @extend %flex-cell;
    flex: 0 0 calc(1 / 4 * 100%);
    figcaption {
      @include screen-reader-text;
    }
    img {
      max-width: 100%;
    }
  }
}
