---
layout: default
---
<article class="case_study" itemscope itemtype="https://schema.org/Article">
  <section class="low-key">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p>This is a brief summary of my work with {{ page.client_name }}.  If you'd like more information about my work with them, please feel free to contact me.</p>
  </section>

  <section>
    <h2>About The Client</h2>
    {% if page.client_link %}<a href="{{ page.client_link }}">{% endif %}
      <img src="/images/portfolio/logos/{{ page.logo }}" alt="{{ page.client_name }} Logo" />
    {% if page.client_link %}</a>{% endif %}
    {{ page.about }}
  </section>

  <section>
    <h2>Project Goal</h2>
    {{ page.goal | markdownify }}
    <p class="project-timeline">Timeline: {{ page.timeline }}</p>
  </section>

  <section>
    <h2>Results</h2>

    {{ page.result | markdownify }}

    {% if page.quote %}
      <blockquote>
        <p>&#147;{{ page.quote }}&#148;</p>
        <cite>&mdash; {{ page.quote_attribution }}</cite>
      </blockquote>
    {% endif %}

    {% if page.screenshots %}
      {% for screenshot in page.screenshots %}
        <img src="/images/portfolio/screenshots/{{ screenshot }}" alt="Screenshot from {{ page.client_name }} project" itemprop="image" />
      {% endfor %}
    {% endif %}
  </section>
</article>
