<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title | escape }}{% endif %} | {{ site.title }}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> <!-- TODO: Improve this via. the SEO plugin -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <script src="https://use.typekit.net/fen2vba.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
        <!--[if IE]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <header>
          <a href="{{ site.baseurl }}/">
            Eliza Marcum
            <!-- <img src="/images/elizabrocklogo.png" id="logo" alt="Eliza Brock Logo" /> -->
          </a>
          <nav>
            <ul>
              {% assign sorted_pages = site.pages | sort:"order" %}
              {% for my_page in sorted_pages %}
                {% if my_page.order %}
                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </header>

        <main>
          <section id="page-body">
            {{ content }}
          </section>
        </section>

        <footer id="site-footer">
          <div class="full-column">
            <h3>For Good Quotes, Free Advice and Excellent Conversation:</h3>
            <nav>
              <ul>
                <li>
                  <div id="call" class="modal-content">
                    <p>On second thought, I hate phone calls.</p>
                    <p>However, you can leave me a voicemail at my business number: (858) 205-9285</p>
                  </div>
                  <a href="#call" rel="modal:open">call</a>
                </li>
                <li>
                  <div id="email" class="modal-content">
                    <p>
                      Email:
                      <br />
                      <a href="mailto:eliza@elizamarcum.com">eliza@elizamarcum.com</a>
                    </p>
                  </div>
                  <a href="#email" rel="modal:open">email</a>
                </li>
                <li>
                  <div id="skype" class="modal-content">
                    <p>
                      Skype:
                      <br />
                      elizabrock
                    </p>
                  </div>
                  <a href="#skype" rel="modal:open">skype</a>
                </li>
                <li>
                  or
                  <a href="http://twitter.com/#!/elizabrock" target="_blank">tweet</a>
                </li>
              </ul>
            </nav>
          </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="/js/main.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164783293-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-164783293-1');
        </script>
    </body>
</html>
