html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: lighten($mediumred, 2%);
  @include outer-container;

  section#container {
    @include span-columns($grid-columns);
    background: $mediumred url('/images/elizabrocklogo-background.png') no-repeat center top;
    padding-bottom: 1em;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    box-shadow: transparentize($darkred, 0.5) 0 1px 0;
  }

  section#container header#site-header {
    text-align: center;
    nav#site-navigation ul {
      border-top: 1px solid $darkred;
      border-bottom: 1px solid $darkred;
      font-size: 17px;
      line-height: 200%;
      background-color: $basically-transparent;
      li {
        display: inline-block;
        margin-left: 1.1em;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        &:hover, &.current {
          border-bottom: 4px solid $darkred;
          a {
            color: lighten($darkred, 40%);
          }
        }
        a {
          text-decoration: none;
          font-weight: normal;
          color: transparentize(#efefef, 0.30);
        }
      }
    }
  }

  section#page-body {
    @include span-columns($grid-columns of $grid-columns);
  }

  footer#site-footer {
    @include span-columns($grid-columns of $grid-columns);
    margin-bottom: 1em;
    text-align: center;
    nav ul li {
      display: inline-block;
    }
    a {
      color: #491918;
      text-decoration: underline;
    }
  }

  .full-column {
    @include span-columns($grid-columns);
    @include omega();
  }
}

.modal-content {
  display: none;
}
