/*
 * Navigation, Specific to elizamarcum.com:
 */

body {
  background-color: $background;
  background-image: url(/images/stardust.png); // Source: transparenttextures.com
  // Option A: background-image: url(https://www.transparenttextures.com/patterns/stardust.png);
  // Option B: background-image: url(https://www.transparenttextures.com/patterns/brilliant.png);
  main {
    //background-color: $alternate-background;
  }
}

$logo-height: 5rem;
body > header {
  @extend .container;
  max-width: $small;
  padding: 0 $content-padding-mobile;
  border-bottom: $bold-borders;
  border-bottom-color: $happyorange;
  nav {
    #logo {
      font-weight: 800;
      font-size: 2rem;
      color: #EFEFEF; // TODO: Matches logo skin color- We'll have to update it with the new logo
      text-align: left;
      figure {
        padding: $base-space 0;
      }
      img, figcaption {
        height: $logo-height;
        vertical-align: middle;
        display: inline;
      }
      &:hover {
        text-decoration: none;
      }
    }
    a {
      color: $alternate-font-color;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: left;
      padding-left: 0;
      align-items: left;
      li {
        display: inline-block;
        padding-right: 1rem;
        white-space: nowrap;
        a {
          padding-bottom: $bold-border-width;
          &:hover {
            text-decoration: none;
            border-bottom: $bold-borders;
            color: $richwhite;
          }
        }
      }
    }
  }
}

@include medium-breakpoint {
  body > header {
    padding: 0;
  }
}

@include small-breakpoint {
  body > header {
    nav {
      ul {
        flex-direction: row;
      }
    }
  }
}

body > main {
  @extend .container;
}

body > footer {
  @extend .container;
  max-width: $small;
  margin-top: $big-space;
  padding: $base-space 0;
  border-top: $bold-borders;
  border-top-color: $happyorange;
  text-align: center;
  color: $alternate-font-color;
  nav ul li {
    display: inline-block;
  }
  h5 {
    color: $alternate-font-color;
    margin: 0;
  }
  a {
    color: $alternate-font-color;
    text-decoration: underline;
  }
}
