/**
 * elizamarcum.com specific variables,
 * from previous incarnations of this site.
 */

// Other Sizes TODO: Remove
// $line-height: 1.5rem; //Duplicate
// $base-spacing: $line-height * 1; // TODO
// $small-spacing: $base-spacing / 2; // TODO

// Colors
$mediumred: #A23736;
$darkred: #6F2625;
$dark-gray: #222;
$pale: #f6f0f3; // pinkish white

$bold-border-color: transparentize($darkred, 0.25);
$basically-transparent: transparentize(#fff, 0.95);
$transparent-pale: transparentize($pale, 0.03);

$blue: #1565c0;
$medium-gray: #999;
$light-gray: #ddd;

// Animations
$base-duration: 150ms;
$base-timing: ease;
