/**
 * elizamarcum.com specific variables,
 * from previous incarnations of this site.
 */

$big-space: 2.5rem;
$base-space: 1.5rem;

// New "Brand" Colors:
$richred: #8C4955;
$richblue: #124673;
$richwhite: #F2F2E4;
$happyorange: #D9946C;
$happyred: #BF6565;
// Old Brand Colors:
$mediumred: #A23736;
$somewhat-transparent: transparentize(#fff, 0.25); // TODO: The #fff here should be $alternate-background
$basically-transparent: transparentize(#fff, 0.95); // TODO: The #fff here should be $alternate-background
$light-gray: #ddd;

// Animations
$base-duration: 150ms;
$base-timing: ease;
